.mapboxgl-popup-content {
  background-color: #000;
  border-radius: 0;
  color: #fff;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  width: 150px;
}

.mapboxgl-popup-content p {
  margin: 0;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #000;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #000;
}
