a {
  font-family: 'Alegreya Sans', sans-serif;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #db4839;
}

a:hover {
  color: #db4839;
}

#active {
  background-color: #db4839;
  width: 20px;
  height: 20px;
}

.mapboxgl-popup-content {
  background-color: #000;
  border-radius: 0;
  color: #fff;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  width: 150px;
}

.mapboxgl-popup-content p {
  margin: 0;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #000;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #000;
}

.marker {
  background-color: #000;
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.marker:hover {
  background-color: #db4839;
  width: 20px;
  height: 20px;
}
