.twelveColumnGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.gridDesktop {
  grid-column: 4 / -4;
}

.headlineDesktop {
  font-style: normal;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 760px) {

  .gridMobile {
    grid-column: 2 / -2;
  }

}
