.headline {
  color: #db4839;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 3;
  text-align: center;
  text-transform: uppercase;
}

.sansSerif {
  font-family: 'Alegreya Sans', sans-serif;
}

.serif {
  font-family: 'Crimson Text', serif;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.captions {
  font-size: 12px;
  line-height: 19px;
}
