.title {
  composes: bold from '../../base-styles/type.css';
  margin: 25px 0;
  text-align: center;
}

.line {
  border-top: 1px solid #db4839;
  margin: 25px auto;
  width: 30px;
}

.body {
  margin: 18px 0;
}

.body, .title {
  composes: serif from '../../base-styles/type.css';
}
