.title {
  composes: serif from '../../base-styles/Type.module.css';
  composes: bold from '../../base-styles/Type.module.css';
  margin: 25px 0;
  text-align: center;
}

.line {
  width: 30px;
  border-top: 1px solid #db4839;
  margin: 25px auto;
}

.body {
  composes: serif from '../../base-styles/Type.module.css';
  margin: 18px 0;
}
