.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 93%;
  padding: 0;
  position: absolute;
  top: 15px;
}

.button:focus {
  outline: 0;
}

.button:hover path {
  fill: #db4839;
}
