.container {
  composes: flexSpaceAround from '../../../base-styles/layout.css';
}

.toolTip {
  display: inline-block;
  position: relative;
}

.toolTipText {
  composes: sansSerif from '../../../base-styles/type.css';
  composes: captions from '../../../base-styles/type.css';
  background-color: #000;
  border-radius: 6px;
  bottom: 125%;
  color: #fff;
  left: 50%;
  margin-left: -162px;
  padding: 10px;
  position: absolute;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 300px;
  z-index: 1;
}

.toolTipText::after {
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.toolTip:hover .toolTipText {
  opacity: 1;
  visibility: visible;
}

.footnoteLink {
  margin-right: 3px;
}
