.comparison {
  grid-column: 2 / span 5;
  margin-bottom: 50px;
  min-height: 2000px;

  .is-closed {
      display: none;
  }

  &__inner {
    background-color: $white;
    padding: 50px 25px;
    position: relative;
    top: 0;

    .button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      left: 93%;
      padding: 0;
      position: absolute;
      top: 15px;

      &:focus {
        outline: 0;
      }

      &:hover path {
        fill: $red;
      }
    }

    .photo {
      display: flex;
      justify-content: center;

      a {
        border-bottom: 0;
      }

      img {
        max-height: 325px;
        max-width: 100%;
      }
    }

    .caption {
      margin-bottom: 25px;

      a {
        margin-left: 5px;
      }

      h2 {
        color: $grey;
        font-family: $font-serif;
        font-size: 12px;
        line-height: 19px;
        margin: 1px 0;

        .note {
          font-weight: 400;
        }
      }

      h3 {
        color: $grey;
        display: inline;
        font-family: $font-small-caps;
        font-size: 12px;
        font-weight: 700;
        text-transform: lowercase;

        .date {
          font-weight: 400;
        }
      }
    }

    .text {

      h2 {
        font-family: $font-serif;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 25px 0;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        font-family: $font-serif;
        margin: 18px 0;
      }

      .line {
        border-top: 1px solid $red;
        margin: 25px auto;
        width: 30px;
      }
    }

    .footnotes {

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: none;
        font-family: $font-sans-serif;
        margin-left: auto;
        padding: 0;
      }

      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .tooltip {
          display: inline-block;
          position: relative;

          .tooltip-text {
            background-color: #000;
            border-radius: 6px;
            bottom: 125%;
            color: $white;
            font-family: $font-sans-serif;
            font-size: 12px;
            left: 50%;
            line-height: 19px;
            margin-left: -85px;
            padding: 10px;
            position: absolute;
            opacity: 0;
            text-align: center;
            transition: opacity 0.3s;
            visibility: hidden;
            width: 150px;
            z-index: 1;

            &::after {
              border-width: 5px;
              border-style: solid;
              border-color: #000 transparent transparent transparent;
              content: "";
              left: 50%;
              margin-left: -5px;
              position: absolute;
              top: 100%;
            }
          }

          &:hover .tooltip-text {
            opacity: 1;
            visibility: visible;
          }
        }

        .footnotes__mobile{
          display: none;
        }

      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .comparison {
    grid-column: 2 / -2;

    &__inner {

      .footnotes {
      display: block;

      button {
        display: block;

        &:focus {
          outline: 0;
        }

        &:hover {
          color: $red;
        }
      }

      ul {
        display: block;

        .tooltip {
          display: none;
        }

        .footnotes__mobile{
          display: inline-block;
          margin: 15px 0;
        }

        .footnotes-site {
          border-bottom: 0;
          color: $grey;
          font-family: $font-sans-serif;
          font-size: 12px;
          line-height: 19px;
          margin-left: 5px;
        }
      }

      .visible {
        display: none;
      }
    }
    }
  }

}

@media only screen and (max-width: 600px) {

  .Comparison {
    .photo {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
