/* Typography */
$font-serif: 'Crimson Text', serif;
$font-sans-serif: 'Alegreya Sans', sans-serif;
$font-small-caps: 'Alegreya Sans SC', sans-serif;
$century-gothic: 'century-gothic', sans-serif;
$bold: 700;

/* Color */
$red: #db4839;
$grey: #9B9B9B;
$light-grey: #f3f3f3;
$white: #fff;
