/* Typography */
$font-serif: 'Crimson Text', serif;
$font-sans-serif: 'Alegreya Sans', sans-serif;
$century-gothic: 'century-gothic', sans-serif;
$bold: 700;

/* color */
$red: #db4839;
$white: #fff;

/* layout */
