.container {
  text-align: center;
}

.headline {
  composes: centuryGothic from '../../base-styles/type.css';
  composes: headlinedesktop from '../../base-styles/layout.css';
  composes: red from '../../base-styles/color.css';
}

.loader {
  animation: spin 1.3s linear infinite;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #db4839;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin-left: 20px;
  text-align: center;
  width: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
