.container {
  grid-column: 4 / -4;
  z-index: 2;
  margin-bottom: 100px;
}

.headline {
  composes: headline from '../../base-styles/type.css';
  border: 7px solid #db4839;
  color: #db4839;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 100px;
  padding: 35px;
  text-align: center;
  text-transform: uppercase;
}

.inner {
  background-color: #fff;
  padding: 25px;
}

.header {
  composes: sansSerif from '../../base-styles/type.css';
  font-size: 22px;
  line-height: 30px;
  margin-top: 0;
}

.line {
  border-top: 2px solid #db4839;
  margin: 50px auto;
  width: 65px;
}

.text {
  composes: serif from '../../base-styles/type.css';
  font-size: 19px;
  line-height: 28px;
}

.pointer {
  color: #db4839;
  font-size: 25px;
}

.instructions {
  composes: serif from '../../base-styles/type.css';
  font-size: 19px;
  font-style: italic;
  line-height: 28px;
}
