.container {
  margin-bottom: 25px;
}

.title {
  composes: sans-serif from '../../base-styles/Type.module.css';
  font-size: 24px;
}

.note {
  composes: serif from '../../base-styles/Type.module.css';
  font-size: 15px;
  line-height: 19px;
}

.link {
  composes: flexCenter from '../../base-styles/Layout.module.css';
}
.image {
  max-height: 425px;
  max-width: 100%;
}

.photographer {
  composes: sans-serif from '../../base-styles/Type.module.css';
  composes: bold from '../../base-styles/Type.module.css';
  text-transform: uppercase;
}

.date {
  composes: sans-serif from '../../base-styles/Type.module.css';
  composes: regular from '../../base-styles/Type.module.css';
}
