.note {
  composes: serif from '../../base-styles/type.css';
  font-size: 15px;
  line-height: 19px;
}

.image {
  max-width: 500px;
}

.credits h3 {
  display: inline;
}

.photographer {
  composes: sans-serif from '../../base-styles/type.css';
  composes: bold from '../../base-styles/type.css';
  text-transform: uppercase;
}

.date {
  composes: sans-serif from '../../base-styles/type.css';
}
