.container {
  margin-bottom: 25px;
}

.link {
  composes: flexCenter from '../../base-styles/layout.css';
}

.image {
  max-height: 425px;
  max-width: 100%;
}

.title {
  composes: captions from '../../base-styles/type.css';
  composes: lightGrey from '../../base-styles/color.css';
  composes: serif from '../../base-styles/type.css';
  margin: 1px 0;
}

.note {
  composes: regular from '../../base-styles/type.css';
}

.photographer {
  composes: bold from '../../base-styles/type.css';
  composes: captions from '../../base-styles/type.css';
  composes: lightGrey from '../../base-styles/color.css';
  composes: sansSerif from '../../base-styles/type.css';
  text-transform: uppercase;
  display: inline;
}

.date {
  composes: regular from '../../base-styles/type.css';
  composes: sansSerif from '../../base-styles/type.css';
}

.rightsLink {
  composes: captions from '../../base-styles/type.css';
  composes: lightGrey from '../../base-styles/color.css';
  margin-left: 5px;
}
