@import './styles/variables.scss';
@import './styles/Intro.scss';
@import './styles/Loading.scss';
@import './styles/Comparisons.scss';

.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
